<br />
<div class="container alert alert-warning" style="font-size:17px;">
    
    <a class="orange-heading" href="/User/ViewProfile">
        My Profile
    </a>

    <label> | </label>
    
    <a class="orange-heading" href="/Report/UserReports">
        Previous academic tests
    </a>

    <label> | </label>
    
    <a class="orange-heading" href="/University/SubscribedUniversities">
        My subscriptions
    </a>

</div>