@model DTOs.User

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/UserPage.cshtml";
}


@{Html.RenderPartial("~/Views/Shared/UserMenubar.cshtml");}

<div class="container">

    <h3 class=" blue-heading page-header">View Profile</h3>

    <div class="col-md-9 col-md-offset-1">

        <table class="table table-striped">
            <tr>
                <th>Email</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>@Html.DisplayFor(model => model.Username)</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>******* <a href="/User/ChangePassword"> &nbsp;&nbsp;&nbsp;Change password</a> </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>@Html.DisplayFor(model => model.Status)</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>


        </table>

    </div>
    </div>
