@using DTOs
@{
    Layout = null;
}

@{ InterestReport rpt = ViewBag.Report; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awsome-min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <title>PersonalitySummary</title>


    <style>
        @@media (min-width: 768px) {
            .modal-dialog {
                width: 800px;
                margin: 30px auto;
            }
        }

        #modal-body-custom {
            padding: 10px;
        }
    </style>

</head>
<body>
    <div>


        <div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content login-modal">
                    <div class="modal-header login-modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="loginModalLabel">Your Personality Summary</h4>
                    </div>
                    <div class="modal-body" id="modal-body-custom">

                        <h3 class="blue-heading page-header">
                            Your work personality Summary
                        </h3>

                        <p>
                            @rpt.PersonalitySummary
                        </p>

                        <img class="img-responsive" src="~/images/careers.jpg" />

                        <h5 class="orange-heading">
                            We found 5 careers that fit your personality!
                        </h5>

                        <hr />

                        <div class="container">
                            <div class="col-md-4">
                                <button class="btn btn-primar y" style="font-size:15px; width:100%;" onclick="window.location='/Report/FullReport'">Watch Report Straight away!</button>
                              
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-primary" style="font-size:15px; width:100%; background-color:orange" onclick="">Test your aptitude!</button>
                              </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>





        <a href="javascript:;" data-toggle="modal" id="bt" data-target="#summaryModal"></a>
    </div>
</body>
</html>

<script>

    $(document).ready(function () {
        $("#bt").click();
    });

    
</script>
