



@using DTOs

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/UserPage.cshtml";
}

@{ UserTestReport rpt = ViewBag.Report; }

<style>
#mydiv{
    border:1px solid black;
}
</style>

<div class="container" id="mydiv">

    <h3 class="blue-heading page-header">
        Your work personality Summary
    </h3>



    <div class="container">
        <p class="col-md-6">
            @rpt.ReportSummary <br /><br />
           

        </p>
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/people.jpg" />
        </div>
    </div>


    <h4 class="orange-heading page-header">
        Your interest matching careers
    </h4>


    <table class="table table-striped">

        <thead>
            <tr>
                <th>
                    Career Name
                </th>
                <th>
                    Career Details
                </th>
                <th>

                </th>
            </tr>
        </thead>


        <tbody>


            @foreach (RecommendedCareer c in rpt.RecommendedCareers)
            {
                <tr>
                    <td>@c.Career.CareerName</td>
                    <td>@c.Career.Details</td>
                    <td>

                        <button class="btn btn-primary" onclick="window.location='/Career/DegreesInCareer/@c.Id'">View Respective Degrees</button>
                    </td>

                </tr>
            }


        </tbody>


    </table>

 

</div>

<button id="btnSave">Click me please</button>

<div id="img-out"></div>



<script src="~/Scripts/canvas2image.js"></script>
<script src="~/Scripts/html2canvas.js"></script>

<script>
    $("#btnSave").click(function () {

        //alert("hi");

        html2canvas($("#mydiv"), {
            onrendered: function (canvas) {
                theCanvas = canvas;
                //document.body.appendChild(canvas);
                var image = new Image();
                image.src = canvas.toDataURL("image/png");



                // Convert and download as image 
                //Canvas2Image.saveAsPNG(canvas);
                $("#img-out").append(image);
                // Clean up 
                //document.body.removeChild(canvas);
            }
        });
    });
</script>





<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '893922077385767',
            xfbml: true,
            version: 'v2.5'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<div class="fb-like"
     data-share="true"
     data-width="450"
     data-show-faces="true">
</div>