@using DTOs;

@{
    ViewBag.Title = "Universities";
    Layout = "~/Views/Shared/UserPage.cshtml";
}

<link href="~/Content/Jquery-DataTables.css" rel="stylesheet" />
<script src="~/Scripts/Jquery-DataTables.js"></script>
<script src="~/Scripts/Jquery-DataTables-bootstrap.js"></script>


<div class="container">
    <h2 class="blue-heading page-header">Popular Universities</h2>
    <br />
    

    <div class="container">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th>University</th>
                    <th>Sector</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (University uni in ViewBag.list)
                {
                    <tr>
                        <td>@uni.Name (@uni.AlternateName)</td>
                        <td>@uni.Sector</td>
                        <td><button type="button" class="btn btn-success" onclick="window.location='/University/UniversityDetails/@uni.Id'">Details</button></td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: true
        });
    });
</script>