@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/UserPage.cshtml";
}

@using DTOs;

<div class="container">
    

    <h3 class="page-header blue-heading">@ViewBag.uniName</h3>
    @if (Session["user"] != null)
    {
        <button class="btn btn-primary pull-right" onclick="window.location = '/University/UserSubscribedNews'">View subscribed Universities News</button>
    }

    <br /><br />




    @foreach (UniversityNewss un in ViewBag.list)
    {
        <div class="container news-headings">
            <a class="col-sm-8 university" href="#">@un.Title</a>
            <div class="col-sm-1"></div>
            <h4 class="col-sm-3">@un.Date</h4>
            <br />
            <br />
            <p class="details">
                @un.Description
            </p>
            @*<button class="btn-primary pull-right">Details</button>*@
        </div>
    }






</div>
