@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/UserPage.cshtml";
}

@using DTOs;

<div class="container">
    <h3 class="page-header blue-heading">Latest News</h3>
    

    <br /><br />




    @foreach (UniversityNewss un in ViewBag.list)
    {
        <div class="container news-headings">
            <a class="col-sm-8 university" href="/University/UniversityNews/@un.UniversityId">@un.University.Name</a>
            <div class="col-sm-1"></div>
            <h4 class="col-sm-3">@un.Date</h4>
            <br />
            <br />
            <div class="details">
                <h4 class="blue-heading">@un.Title</h4>
                <p>@un.Description</p>
            </div>
            @*<button class="btn-primary pull-right">Details</button>*@
        </div>
    }






</div>
