@{
    ViewBag.Title = "How It Works";
    Layout = "~/Views/Shared/UserPage.cshtml";
}


<div class="container">
    <div class="col-sm-8">
        <h2 class="blue-heading page-header">What it tells?</h2>
        <h3 class="orange-heading">Take Career Test and know your interested career</h3>
        <br />
        <h4><i>Your test can tell about :</i></h4>
        <div class="col-sm-1"></div>
        <ul class="col-sm-5" style="list-style-image: url('../../Images/bullet_accept.png'); font-weight: bold;">
            <li>Scientific summary of your work personality</li>
            <li>Your personality strengths at work</li>
            <li>Your preffered managment styles</li>
            <li>How you work in team</li>

        </ul>

        <ul class="col-sm-6" style="list-style-image: url('../../Images/bullet_accept.png'); font-weight: bold;">
            
            <li>Your working environment</li>
            <li>Degree and University that fits you best</li>
            <li>Filter your interested degrees</li>
            <li>Filter universities on public/private basis</li>

        </ul>

    </div>

    <div class="col-sm-4">
        <br /><br /><br /><br />
        <img class="img-responsive" src="~/Images/choose-which-career.png" />

    </div>

</div>

<div class="container">
    <div>
        <h2 class="orange-heading page-header">How it Works?</h2>
        <p>Test bases on psychological factors tells about what the person in real is and what type of people he is interested to work with.</p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>

        <ul>
            <li><b>Lorem Ipsum </b>is simply dummy text of the printing and typesetting industry.</li>
            <li><b>Lorem Ipsum  </b>is simply dummy text of the printing and typesetting industry.</li>
        </ul>
    </div>
</div>

